body {
  background: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  line-height: 0;
  padding: 50px 0;
  cursor: pointer;
  margin: 200px auto;
  border-radius: 50px;
  background-color: pink;
  color: white;
  transition: background 1s, transform 5s ease-in;
}

.circle:hover {
  background: salmon;
  transform: rotate(2880deg);
}

#id-unico {
  background: black;
}

#pingu {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: pingu;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes pingu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(600px);
  }
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#longeDoMario {
  margin-top: 50px;
}
.nome {
  margin-top: 5px;
  width: 30vw;
  border: none;
  background: black;
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
  outline: none;
  color: white;
}

#titulo {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.cadastro {
  margin: 30px 0px;
  width: auto;
  height: auto;
  padding: 10px;
  outline: 0;
  border: 0;
  background: aqua;
  border-radius: 2em;
  font-size: 40px;
  box-shadow: 3px 3px 3px black;
}

.cadastro:hover {
  background: blue;
  cursor: pointer;
}

.cadastro :active {
  background: black;
}
